html,
body {
  background-color:#d0e4fe;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20pt;
}
header {
  border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.75rem;
  color: blue;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

footer {
    color:grey;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
button {
   outline: 0;
   background-color: white;
   border: 0;
   padding: 10px 15px;
   color: #53e3a6;
   border-radius: 3px;
   width: 125px;
   cursor: pointer;
   font-size: 18px;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
input[type=text], input[type=password] {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: white;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  
  display: block;
  text-align: center;
  font-size: 18px;
  color: blue;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}
.address{
  color: #cc0000
}
.state{
  color: #cc3300
}
.city{
  color: #cc6600
}
.zipcode{
  color: #cc9900
}
.img{
  color: #cccc00
}
.description{
  color: #99cc00
}
.date{
  color: #66cc00
}
.tag{
  color: #33cc00
}
.phone{
  color: #00cc00
}
.price{
  color: #00cc33
}
.email{
  color: #00cc66
}
