<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zillow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/rental_posts">Rent a home</a></li>
            <li><a href="/newpost">Make a post</a></li>
            {{#if userLoggedIn}}
            <li><a href="/users/profile" id="profile">Profile</a></li>
            <li><a href="/restaurants/manage">Manage</a></li>
            <li><a href="/users/logout" id="logout">Logout</a></li>
            {{else}}
            <li><a href="/login" id="auth">Login</a></li>
            <li><a href="/find" id="auth">Forgot password</a></li>
            {{/if}}
            <li><a href="/register">Sign up</a></li>
            <li><a href="/manager/login">Manager Login</a></li>
        </ul>
    </nav>

    {{{ body }}}  
    <script src="/public/js/search.js"></script>
</body>

</html>
