<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zillow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/public/css/main.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if userLoggedIn}}
                <li><a href="/users/myaccount" id="my-account">My Account</a></li>
                <li><a href="http://localhost:3000/logout" id="logout">Logout</a></li>

            {{else}}
                {{#if managerLoggedIn}}
                    <li><a href="/managerLogin/myaccount" id="manager-my-account">Manager Account</a></li>

                    <li><a href="http://localhost:3000/logout" id="manager-logout">Logout</a></li>
                {{else}}
                    <li><a href="/users/login" id="login-page">Login</a></li>
                    <li><a href="/register" id="register-page">Sign up</a></li>
                    <li><a href="/managers/login" id="manager-login-page">Admin</a></li>
                    <li><a href="/aboutus" id="aboutus-page">About Us</a></li>
                    {{!-- <li><a href="/managers/signup" id="manager-signup-page">Manager SignUp</a></li> --}}
                {{/if}}

            {{/if}}





        </ul>
    </nav>

    {{{ body }}}

</body>

</html>
