
<main id="changepassword-find-frame">
  <div class="row">
      
          <p id="change-password-p">Please input your password!</p>
          <div id="changepassword-container">
            <form action="/change/check" method="post" id = "changepassword-userForm">
                
                    

                    <p>
                        <label for="oldpassword">Old Password</label>
                        <input type="password" placeholder="Input Old Password" id="oldpassword" name="oldpassword">
                    </p>

                    <p>
                        <label for="newpassword">New Password</label>
                        <input type="password" placeholder="Input New Password" id="newpassword" name="newpassword">
                    </p>

                    <p id='verify'>
                        <label for="verifiy">Verifiy</label>
                        <input type="text" placeholder="Input Verifiy Code" id="verifiy" name="verifiy">
                        <img src="/change/api/getCaptcha" alt="captcha">
                    </p>

                    <button type="submit" id="user-changepassword-button">Change Password</button>

                
            </form>
          </div>
      
  </div>
</main>

    
  

