
<main id="Find_frame">
      <h1>Zillow</h1>
      <div class="row">
          <div>
                <h2>Please input your password!</h2>

                <form action="/change/check" method="post" id = "userForm">
                    <div class="container">
                        

                        <p>
                            <label for="oldpassword"><b>Old Password</b></label>
                            <input type="password" placeholder="Input Old Password" id="oldpassword" name="oldpassword">
                        </p>

                        <p>
                            <label for="newpassword"><b>New Password</b></label>
                            <input type="password" placeholder="Input New Password" id="newpassword" name="newpassword">
                        </p>

                        <p id='verify'>
                            <label for="verifiy"><b>Verifiy</b></label>
                            <input type="text" placeholder="Input Verifiy Code" id="verifiy" name="verifiy">
                            <img src="/change/api/getCaptcha" alt="captcha">
                        </p>





                        <button type="submit">Change Password</button>

                    </div>
                </form>
            </div>
        </div>
    </main>
