    <h1>Find password of manager Error</h1>
    <p>Error below: </p>
    {{#if hasErrors}}
        <ol class='error'>
        {{#each errors}}
            <li>
            {{this}}
            </li>
        {{/each}}
        </ol>
    {{/if}}

    <a href="/managers/forgetpassword">try again</a>

