<main id="errorform">
    <div class="errors">
        <div>
            <h1 id=" error-note">Sorry, some thing are wrong.</h1>
            <div class='error'>Error: {{error}}</div>
            <p id="error-p">Please login again</p>
            <button> <a href="/" id="error-page">Main Page</a> </button>
        </div>
    </div>
</main>