    <h1>Find password of manager Error</h1>
    <p>Error below: </p>
    {{#if hasErrors}}
        <ul class='error'>
        {{#each errors}}
            <li>
            {{this}}
            </li>
        {{/each}}
        </ul>
    {{/if}}

    <button> <a href="/managers/forgetpassword">try again</a> </button>

