
<main id="Find_frame">
  <div class="row" id="user-find-password-div">
        <p id="findpassword-p">Please Fill Information!</p>
        <div id="user-find-password-form-div">
          <form action="/findinf/check" method="post" id = "user-userForm">
            <div class="container">
              <p>
                <label for="username">Username</label>
                <input type="text" placeholder="Input Username" id = "username" name="username">
              </p>
              

              <p>
                <label for="email">Email</label>
                <input type="text" placeholder="Input Email" id = "email" name="email">
              </p>

              <p id='verify'>
                <label for="verifiy">Verifiy</label>
                <input type="text" placeholder="Input Verifiy Code" id = "verifiy" name="verifiy">
                <img src="/findinf/api/getCaptcha" alt="captcha" >
              </p>                    
              
              <button type="submit" id="user-findpassword-button">Change Password</button>

            </div>
          </form>
        </div>
  </div>
</main>
