
<main id="login_frame">
      <div class="row" id="login-main-container">
          <div>
                <p id="login-p">Please Login!<p>
                  
                <form action="/users/check" method="post" id = "userForm">
                  <div id="user-login-container">
                    <p>
                      <label for="username">Username</label>
                      <input type="text" placeholder="Input Username" id = "username" name="username">
                    </p>
                    

                    <p>
                      <label for="password">Password</label>
                      <input type="password" placeholder="Input Password" id = "password" name="password">
                    </p>
                    
                    <p id='verify'>
                      <label for="verifiy">Verifiy</label>
                      <input type="text" placeholder="Input Verifiy Code" id = "verifiy" name="verifiy">
                      <img src="/users/api/getCaptcha" alt="captcha" >
                    </p>
                                     
              
                    <button type="submit">Login</button><br>
                    <a href="/findinf" id="ChangePassword">Forget your password?</a>

                  </div>
                </form>
            </div>
        </div>
      
      
        <div class="row">
          <div class="col-sm-6" id="furniture_ads">
            <div class="thumbnail">
              <a href="https://www.bassettfurniture.com/?gclid=Cj0KCQiAqdP9BRDVARIsAGSZ8AkmibIjQz4CNQPjnAF43AvegpXEOXG6B1LHwjkz-Nnm3FRwAYAKFZsaAgSNEALw_wcB">
                <img src="/public/img/furniture_ads.png" alt="furniture link" id="furniture-img">
              </a>
            </div>

            
          </div>

          <div class="col-sm-6" id="moving_house_ads">
            <div class="thumbnail">
              <a href="https://www.topmoving.com/?source=tm_google_ppc_desktop&keyword=%2Bmoving&physical=9003967&interest=&gclid=Cj0KCQiAqdP9BRDVARIsAGSZ8Al-Uo0Nghluqebb1rBz3xzEg9n1Ao-8bvvg_RbsHj64bYUWPbzT9UoaAuZxEALw_wcB">
                <img src="/public/img/movint_house_ads.png" alt="moving house link" id="moving-house-img">
              </a>
            </div>
            
          </div>
        </div>
      
        
    </main>
