<main>
  <div class = "home-page-container">
    <h1 class = "mainPageText1">Reimagine home</h1>
    <h2 class = "mainPageText2">We’ll help you find a place you’ll love.</h2>
    <form action="/search" method="post" id ="search" class="searchForm">

    <input type="text" class="searchBox" placeholder="Enter an address, city, or ZIP code" name="search_input" id="search_input"/></input>
    <button type='submit' id="searchButton" class="searchButton" label="search">Search</button>
    </form>
  </div>
</main>
