<div class="signup-div" id="signup-div">
    <p id="manager-findpassword-p">Forget admin password</p>
    <div id="manager-findpassword-form-div">
        <form id="signup-form" name="signupForm" class="register-form" method="POST" action='/managers/managerforgetpassword'>
            <p>
                <label for="username">Old username:</label>
                <input type="text" name="username" id="username" class="inputFields" placeholder="UserName" required />
            </p>

            <p>
                <label>Email:</label>
                <input type="email" name="email" id="email" class="inputFields" placeholder="Email" required />
            </p>

            <p>
                <label>manager level:</label>
                <input type="text" name="manager_level" id="manager_level" class="inputFields" placeholder="manager level" required />
            </p>

            <p>
                <label>Verify code:</label>
                <input type="text" name="managerCode" id="managerCode" class="inputFields" placeholder="manager Code" required />
            </p>

            
                <div id='register-error' hidden></div>
            

            <p id='verify'>
                        <label for="verifiy">Verifiy</label>
                        <input type="text" placeholder="Input Verifiy Code" id = "verifiy" name="verifiy">
                        <img src="/managers/api/getCaptcha" alt="captcha" >
                        </p>

            <p>
                <button type="submit" class="btn" id='submit-user'>confirm</button>
            </p>



            <div>
                {{#if hasErrors}}
                <div class="r-error">
                    <ul>
                        {{#each errors}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
        </form>
    </div>

</div>