<div class="signup-div" id="signup-div">
    <h2>New Admin Password Set</h2>
    <h4 id="manager-profile1">Admin Id: {{manager._id}}</h4>
    <h4 id="manager-profile2">Username: {{manager.username}}</h4>
    <form action='/managers/{{manager._id}}'  method="Post" id = "managerForm">
        <div class="manager-container">
        <p>
            <label for="password"><b>new password</b></label>
            <input type="password" placeholder="new Password" id = "password" name="password">
        </p>

        <div id="error" class ="error" hidden></div>

        <button class = "formBtm" type="submit">confirm</button>
        </div>
    </form>
    
</div>

