<main id="manager_login_frame">
        <div class="manager-login-div">
            <div>
                <p id="manager-login-p">Only Manager Login!</p>
                <div class="manager-container" id="manager-container">
                  <form action="/managerLogin/checkManager" method="post" id = "managerForm">
                    
                      <p>
                        <label for="username">Username</label>
                        <input type="text" placeholder="Input Username" id = "username" name="username">
                      </p>
                      

                      <p>
                        <label for="password">Password</label>
                        <input type="password" placeholder="Input Password" id = "password" name="password">
                      </p>

                      <p id='verify'>
                        <label for="verifiy">Verifiy</label>
                        <input type="text" placeholder="Input Verifiy Code" id = "verifiy" name="verifiy">
                        <img src="/managerLogin/api/getCaptcha" alt="captcha" >
                      </p>
                      

                      {{!-- <img @load="verifyLoadState=true"  @click="toggleVerify" :src="verifiy" alt=""/> --}}

                      <button type="submit" id="manager-login-button">Login</button><br>

                      

                      <div id="manager-signup-forgetpassword-div">
                        <a href="/managers/signup" id="manager-signup-a">Sign up for new admin</a>
                        <a href="/managers/forgetpassword" id="manager-signup-page">Forget password</a>
                      </div>
                      

                      

                      
                  </form>
                </div>
            </div>
        </div>
    
</main>
