<main id="manager_login_frame">
        <h1>Zillow</h1>
        <div class="manager-login-div">
            <div>
                <h2>Only Manager Login!</h2>

                <form action="/manager/login" method="post" id = "managerForm">
                  <div class="manager-container">
                    <p>
                      <label for="manage-username"><b>Username</b></label>
                      <input type="text" placeholder="Input Username" id = "manage-username" name="manage-username">
                    </p>
                    

                    <p>
                      <label for="manage-password"><b>Password</b></label>
                      <input type="password" placeholder="Input Password" id = "manage-password" name="manage-password">
                    </p>
                    
                    <p>
                      <label for="manage-verifiy"><b>Verifiy</b></label>
                      <input type="verifiy" placeholder="Input Verifiy Code" id = "manage-verifiy" name="manage-verifiy">
                    </p>
                    

                    <img @load="verifyLoadState=true"  @click="toggleVerify" :src="verifiy" alt="">
                    
                    <button type="submit">Login</button>

                    </div>
                </form>
            </div>
        </div>
    
</main>
