<article>
    <h1>Great! You have successfully published your lease post</h1>
    <button><a href="http://localhost:3000">Back to Main Page</a></button>
    <button>My last post</button>
    {{!-- <button><a href="http://localhost:3000/2">My last post</a></button> --}}
</article>